.wrapper-course-details{
    display: flex;
    height: 500px;
    .sidebar{
        margin:40px 20px 0 20px;
        background-color:rgb(248, 249, 250);
        width: 20%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .main-content{
        margin:40px 20px 0 20px;
        border-radius: 10px;
        width: 80%;
        height: 100%;
        background-color: white;
        .title-detail{
            margin: 20px 0 0 20px;
        }
    }
}
.navtab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-left: 160px;
    background-color:rgb(40, 40, 41);
}