.question__wrapper{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 550px;
    background-color: white;
}
.answer__wrapper{
    overflow-y: auto;
    background-color:#e7e8e9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 550px;
    position: relative;
}
.answer__choose{
    button{
        position: relative;
        border: 1px solid var(--primaryColor) !important;
        margin: 5px 0;
        label{
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: 0px;
            left: 0;
            padding: 3px 15px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            background-color: #ccc;
            height: 100%;
        }
    }
}
.time__remaining{
    background-color:rgb(25, 118, 210);
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    z-index: 999;
    span{
        color: white;
        font-weight: 500px;
        font-size: 20px;
    }
}
.all__answer__wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    button{
        padding:10px;
        margin: 5px;
    }
}
.submit__exit__exam{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 999;
}